<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <!--  bootstrap  -->
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2 th:text="'글 목록'"></h2>
        </div>

        <div class="col">
            <form>
                <input type="text" name="searchKeyword">
                <input type="submit" value="검색">
            </form>
            <button class="btn btn-primary float-end"
                    th:text="'글 작성'" th:onclick="|location.href='@{/board/write}'|"
                    type="button">
                등록
            </button>
        </div>

        <div>
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th>글번호</th>
                        <th>제목</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board, stat : ${boardList}">
                        <td><a th:href="@{/board/{boardId}(boardId=${board.boardId})}" th:text="${stat.count}"></a></td>
                        <td><a th:href="@{/board/{boardId}(boardId=${board.boardId})}" th:text="${board.title}"></a></td>
                    </tr>
                </tbody>
            </table>

            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${nowPage != page}" th:href="@{/board(page=${page - 1}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
            </th:block>
        </div>
    </div>
</body>
</html>